
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: rgb(146, 243, 243);
}

.container-cabecalho {
    height: 150px;
    width: 100vw;
    padding: 4vw;
    background-color: aqua;
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: black;
}

.container-cabecalho a {
    text-decoration: none;
    color: black;
}


.logo-nome {
   display: flex;
   align-items: center;
   text-transform: uppercase;
   font-family: 'Red Hat Mono', monospace;
   padding-right: 280px;
}

.menu {
    font-family: 'Red Hat Mono', monospace;
    padding: 20px;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.main {
    width: 2700px;
}

.barra-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.bpesquisa {
    width: 600px;
}

.carousel {
    border-radius: 5px;
}

.legenda {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    font-family: 'Red Hat Mono', monospace;
}

.banner-oferta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-banner02 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.informacoes {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}